.button {
  font: inherit;
  border: 1px solid #021252;
  background: #021252;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #022bcc;
  border-color: #022bcc;
}

.button:focus {
  outline: none;
}